<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Car HUB with Bootstrap</title>


    <link href="../../css/bootstrap.css" rel="stylesheet" />


    <link href="../../css/carhub.css" rel="stylesheet" />

</head>

<body>


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../BMW/BMW1.html">BMW</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../Ford/Ford1.html">Ford</a>
                    </li>
                    <li>
                        <a href="Merc1.html">Mercedes</a>
                    </li>
                    <li>
                        <a href="../Jaguar/Jag1.html">Jaguar</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>


    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Car HUB
                   
                    <small>Models to Watch</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div id="merc5" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/merc5.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Horsepower
@ 5,500 rpm
208 hp
Torque
@ 1,250-4,000 rpm
258 lb-ft
Miles per Gallon
City/Hwy
26/38mpg
</p>
                    <br>
                    <b>CLA Coupe </b>
                </div>
            </div>
            <div id="merc6" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/merc6.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Acceleration
0 to 60 mph
5.9 sec†
Horsepower
@ 5,550 rpm
241 hp
Torque
@ 1,300-4,000 rpm
273 lb-ft
</p>
                    <br>
                    <b>C-Class Coupe</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="merc7" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/merc7.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Horsepower
@ 5,250-6,000 rpm
329 hp
Torque
@ 1,600-4,000 rpm
354 lb-ft
Miles per Gallon
City/Hwy
20/29mpg </p>
                    <br>
                    <b>E-Class Coupe </b>
                </div>
            </div>
            <div id="merc8" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/merc8.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Horsepower
@ 5,250-6,000 rpm
329 hp
Torque
@ 1,600-4,000 rpm
354 lb-ft
Miles per Gallon
City/Hwy
20/30mpg ††</p>
                    <br>
                    <b>CLS Coupe </b>
                </div>
            </div>
        </div>

        <hr>

        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="Merc1.html">&laquo;</a>
                    </li>
                    <li>
                        <a href="Merc1.html">1</a>
                    </li>
                    <li class="active">
                        <a href="Merc2.html">2</a>
                    </li>
                    <li>
                        <a href="Merc3.html">3</a>
                    </li>
                    <li>
                        <a href="Merc3.html">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>


        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Carshub 2016</p>
                </div>
            </div>

        </footer>

    </div>



    <script src="js/jquery.js"></script>


    <script src="js/bootstrap.min.js"></script>

</body>

</html>
