<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Car HUB with Bootstrap</title>


    <link href="../../css/bootstrap.css" rel="stylesheet" />


    <link href="../../css/carhub.css" rel="stylesheet" />

</head>

<body>


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../BMW/BMW1.html">BMW</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../Ford/Ford1.html">Ford</a>
                    </li>
                    <li>
                        <a href="../Mercedes/Merc1.html">Mercedes</a>
                    </li>
                    <li>
                        <a href="Jag1.html">Jaguar</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>


    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Car HUB
                   
                    <small>Models to Watch</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div id="jag5" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/jag5.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					3.0 Liter V6 340 HP Supercharged Engine AWD - All Wheel Drive

Top Speed: 121 mph³
0-60 mph in 6.1 seconds
27 mpg EPA Highway estimate²
					</p>
                    <br>
                    <b>Jaguar XJ Long Wheel </b>
                </div>
            </div>
            <div id="jag6" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/jag6.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Unyielding power meets undeniable sophistication. The F-TYPE is a true Jaguar sports car.
Base MSRP from $61,4001
					</p>
                    <br>
                    <b>Jaguar F-Type Coupe</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="jag7" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/jag7.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Base MSRP from $82,2001 

KEY FEATURES IN ADDITION TO F-TYPE PREMIUM:
380 hp Supercharged V6
19 inch Propeller alloy wheels
Steering wheel-mounted shift paddles in Ignis orange (AT only)
Sport suspension with Adaptive Dynamics4
Active Sport Exhaust
Configurable Dynamic Mode4
					</p>
                    <br>
                    <b>Jaguar F-Type Covertible </b>
                </div>
            </div>
            <div id="jag8" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/jag8.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
										35t
3.0 liter V6 340HP Supercharged Gas

Top Speed: 120mph³
0-60 mph in 5.1 seconds
TBDmpg EPA Highway estimate²
					</p>
                    <br>
                    <b>Jaguar XE R-SPORT</b>
                </div>
            </div>
        </div>

        <hr>

        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="Jag1.html">&laquo;</a>
                    </li>
                    <li>
                        <a href="Jag1.html">1</a>
                    </li>
                    <li class="active">
                        <a href="Jag2.html">2</a>
                    </li>
                    <li>
                        <a href="Jag3.html">3</a>
                    </li>
                    <li>
                        <a href="Jag3.html">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>


        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Carshub 2016</p>
                </div>
            </div>

        </footer>

    </div>



    <script src="js/jquery.js"></script>


    <script src="js/bootstrap.min.js"></script>

</body>

</html>
