<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Car HUB with Bootstrap</title>


    <link href="../../css/bootstrap.css" rel="stylesheet" />


    <link href="../../css/carhub.css" rel="stylesheet" />
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../BMW/BMW1.html">BMW</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../Ford/Ford1.html">Ford</a>
                    </li>
                    <li>
                        <a href="../Mercedes/Merc1.html">Mercedes</a>
                    </li>
                    <li>
                        <a href="Jag1.html">Jaguar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Car HUB
                   
                    <small>Models to Watch</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div id="jag9" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/jag9.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Base MSRP from $37,5001 (25t)
Includes XE key features, plus: 

Choice of 240hp turbocharged gas or 180hp turbocharged diesel engines
Available 340hp Supercharged V6 gas engine
Available AWD (excluding 25t model)
					</p>
                    <br>
                    <b>Jaguar XE Premium </b>
                </div>
            </div>
            <div id="jag10" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/jag10.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Base MSRP from $41,4001 (25t)
Includes XE Premium key features, plus: 

Choice of 240hp turbocharged gas or 180hp turbocharged diesel engines
Available 340hp Supercharged V6 gas engine
Available AWD (excluding 25t model)
18” alloy wheels
19” alloy wheels (35t only)
					</p>
                    <br>
                    <b>Jaguar XE PRESTIGE </b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 portfolio-item">
            </div>
            <div id="jag11" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/jag11.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Base MSRP from $46,5001 (20d)
Includes XE Prestige key features, plus: /n

Choice of 180hp turbocharged diesel or 340hp Supercharged V6 gas engines
Available in RWD or AWD
Taurus leather Sports seats with contrast stitch
‘R-Sport’ body kit: ‘R–Sport’ front bumper, ‘R-Sport’ body-colored side sills, Chrome side power vents with ‘R-Sport’ badge, trunk spoiler
Metal door sill finishers and multi-function steering wheel with ‘R-Sport’ branding
					</p>
                    <br>
                    <b>Jaguar XE R-SPORT </b>
                </div>
            </div>
            <div class="col-md-3 portfolio-item">
            </div>
        </div>

        <hr>

        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="Jag1.html">&laquo;</a>
                    </li>
                    <li>
                        <a href="Jag1.html">1</a>
                    </li>
                    <li>
                        <a href="Jag2.html">2</a>
                    </li>
                    <li class="active">
                        <a href="Jag3.html">3</a>
                    </li>
                    <li>
                        <a href="Jag3.html">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Carshub 2016</p>
                </div>
            </div>
        </footer>

    </div>

    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

</body>

</html>
