<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Car HUB with Bootstrap</title>

    
    <link href="../../css/bootstrap.css" rel="stylesheet" />

    
    <link href="../../css/carhub.css" rel="stylesheet" />

</head>

<body>

   
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../BMW/BMW1.html">BMW</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="Ford1.html">Ford</a>
                    </li>
                    <li>
                        <a href="../Mercedes/Merc1.html">Mercedes</a>
                    </li>
                    <li>
                        <a href="../Jaguar/Jag1.html">Jaguar</a>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </nav>

    
    <div class="container">

        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Car HUB
                    <small>Models to Watch</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div id="ford1" class="col-md-6 portfolio-item">
                <div>
                    <img id="ford1" class="img-responsive" src="../Images/ford1.PNG" class="hover" alt="">
					<p></p>
					<p class="text">Standard 28/36 2
EPA-Est. MPG City/Hwy
Seating for
5
</p>
                                        <br>
                    <b> 2016 Ford FIESTA </b>
                </div>
            </div>
            <div id="ford2" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/ford2.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Standard 26/36 2 Electric 110/99 2
EPA-Est. MPG City/Hwy
Seating for
5
					</p>
                                        <br>
                    <b> 2016 Ford FOCUS </b>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="ford3" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/ford3.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Standard 28/36 Horsepower 256
					</p>
                                        <br>
                    <b> 2016 Ford FUSION </b>
                </div>
            </div>
            <div id="ford4" class="col-md-6 portfolio-item">
                <div>
                    <img class="img-responsive" src="../Images/ford4.PNG" class="hover" alt="">
					<p></p>
					<p class="text">
					Standard 17/28 2
EPA-Est. MPG City/Hwy
Seating for
4
					</p>
                                        <br>
                    <b> 2016 Mustang </b>
                </div>
            </div>
        </div>

        <hr>

        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="Ford/Ford1.html">&laquo;</a>
                    </li>
                    <li class="active">
                    <a href="Ford1.html">1</a>
                    </li>
                    <li >
                        <a href="Ford2.html">2</a>
                    </li>
                    <li>
                        <a href="Ford3.html">3</a>
                    </li>
                    <li>
                        <a href="Ford3.html">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Carshub 2016</p>
                </div>
            </div>
            
        </footer>

    </div>
    

    
    <script src="js/jquery.js"></script>

    
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
